span.fa-search {
    display: block;
    float: right;
    margin-right: 1em;
    position: relative;
    top: 1.6em;
    font-size: 1.5em;
}

#search {
    font-size: 1.5em;
    border-width: 2px;
    padding: 1em;
}

td {
    width: 33%;
}
#results {
    position: absolute;
    top: 110px;
    left: 30px;
    padding-top: 0.5em;
}

#results a {
    display: block;
    font-size: 1.2em;
    padding: 0.5em 0.8em;
}
#results a .id {
    display: inline-block;
    width: 70px;
    font-weight: bold;
}

#intro {
    text-align: center;
    margin-top: 2em;
}
#intro .fa-bus {
    color: #9b4dca;
    font-size: 32pt;
}
@media (max-width: 470px) {
    #search {
        font-size: 1.2em;
        padding: 1em 0.5em;
    }
    span.fa-search {
        top: 1.5em;
        font-size: 1.4em;
        margin-right: 0.7em;
    }
}

.stop a {
    margin-left: 1em;
}
.stop a .fa {
    margin-right: 0.25em;
}

.favorites {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.favorites a {
   margin: 0 1em;
}

a.button-clear {
    padding: 0;
    margin: 0;
}
