/* some style */
h1 {
    font-size: 14pt;
    text-align: center;
}
th, td {
    font-size: 12pt;
}
td:first-child {
    width: 10%;
}
th:last-child, td:last-child {
    text-align: right;
}
.input-container {
    margin-top: 1em;
    padding: 1em 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 15px black;
}

.results, .stop {
    margin-top: 1em;
    padding: 3em 1em 1em 1em;
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 350px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
}
.stop h1 {
    font-size: 14pt;
    margin-top: 0;
}
.stop h2 {
    font-size: 14pt;
    font-weight: normal;
    margin: 0;
}
.stop p {
    font-size: 12pt;
    font-weight: bold;
}
h1,h2,h3,th {
    font-family: Georgia;
}
table h2 {
    font-family: Helvetica;
}
body {
   /* background-color: #eaab00;*/
}

a {
    display: block;
    font-size: 14pt;
    text-align: center;
    font-family: Georgia;
}
#map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
